.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme .bg-light {
    background-color: #343a40 !important;
    color: #ffffff !important;
}

.light-theme .bg-light {
    background-color: #f8f9fa !important;
    color: #000000 !important;
}

