{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rent a Cars</a>
        <!-- Logo que cambiará según el modo, ubicado en el margen superior derecho -->
        <div class="ms-auto d-flex align-items-center">
            <img id="logo" src="{% static 'images/modo-oscuro.png' %}"
                alt="Logo"
                class="img-fluid" style="height: 40px;">
            <!-- Interruptor para cambiar el modo de tema (Oscuro/Claro) -->
            <div class="form-check form-switch ms-3">
                <input type="checkbox" id="theme-Toggle"
                    class="form-check-input">
            </div>
            <img id="logo" src="{% static 'images/modo-claro.png' %}"
                alt="Logo"
                class="img-fluid" style="height: 40px;">
        </div>
    </div>
</nav>