{% load static %}

<nav class="navbar navbar-expand-lg mb-2" id="site-navbar">
    <div class="container-fluid">
        <button class="navbar-toggler btn btn-primary" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            ☰ Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav flex-column me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link btn mb-2" href="{% url 'home' %}"
                        id="nav-home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn mb-2"
                        href="{% url 'car_list_view' %}" id="nav-cars">Cars</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn mb-2" href="#"
                        id="nav-orders">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn mb-2" href="#"
                        id="nav-products">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" href="#"
                        id="nav-customers">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block scripts %}
<script src='{% static "js/core.js" %}'></script>
{% endblock %}
